@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-text: 'Poppins', sans-serif;
  --color-bg: rgb(18,18,18);
}

html {
  font-size: 62.5%;  
}

body {
  font-size: 1.6rem;
  font-family: var(--font-text);
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 100vh;
  /* background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover; */
  color: white;
  background-color: var(--color-bg);
}


.main__title {
  text-align: center;
  text-transform: uppercase;
  /* position: absolute;
  top: 50px;
  left: 0; */
}


.main__pass {
  border: none;
  border-radius: 3px;
  padding: 10px;
}

