
footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.brand-container > h3 > span {
  color: var(--color-brand);
}

@media(min-width: 700px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;

  }
    
}