
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

.brand-container > h3 > span {
  color: var(--color-brand);
}
