
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;    
}

.brand-container > img {
  padding: 10px;
}

.brand-container > h3 {
  display: none;
}

.menu-container {
  display: none;
}

/* ####################################################### */
/* ##  Menú Cabecera: hamburguesa (nav-toggle) - Start  ## */
/* ####################################################### */
.nav-toggle {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.nav-toggle span {
  width: 30px;
  height: 4px;
  background-color: #22927c;
  margin-bottom: 5px;
  border-radius: 2px;
  transform-origin: 5px 0;
  transition: all .2s linear;
}

.nav-toggle.open>span {
  transform: rotate(45deg) translate(0, 0);
}

.nav-toggle.open>span:nth-child(2) {
  display: none;
}

.nav-toggle.open>span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px, 1px);
}

/* ##################################################### */
/* ##  Menú Cabecera: hamburguesa (nav-toggle) - End  ## */
/* ##################################################### */



/* Modo escritorio */
@media(min-width: 700px) {
  header {
    border-bottom: 1px solid #22927c;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  

  .brand-container > h3 {
    display: unset;
  }



    .menu-container {
      display: unset;
    }

    .menu-container > ul {
      display: flex;      
      list-style-type: none;
    }

    .menu-container > ul > li {
      padding: 0 8px;
    }

    .hamburger-container {
      display: none;
    }
}