
.section-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #918391;
  text-shadow: 2px 7px 10px grey;
  font-size: 3.5rem;
  padding: 30px 5px 5px 5px;
  z-index: 15;
}

p {
  font-size: 1.2rem;
  color: var(--color-text);
  padding-bottom: 30px;
  width: 70%;
  text-align: center;
}

button.start {
  border: none;
  color: #a586a5;
  font-weight: 700;
  letter-spacing: .5rem;
  padding: 15px;
  border-radius: 20px;
  font-family: var(--font-text);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 13px 1px rgba(165, 134, 165, .9);  
  border: 1px solid rgba(255, 255, 255, .3);
}






@media(min-width: 700px) {    
h1 {
  color: #a586a5;
  text-shadow: 2px 7px 10px grey;
  font-size: 4rem;
  padding-bottom: 30px;
}

button.start {  
  background: rgba(255, 255, 255, 0.2);
}

button.start:hover {
  overflow: hidden;  
  /* transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out; */
  transition: all 1s ease-in-out;
  transform: scale(1.3);
}

}