
main {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media(min-width: 700px) {
  main {
    background-position: left top;
    background-size: contain;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(min-width: 1100px) {
  main {
    background-size: 50%;  
    background-position: left bottom;
  }
    
}