
main {  
  min-height: 100vh;
}

main > section.bg {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left bottom;
}

@media(min-width: 700px) {
  main {
    background-size: auto;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}