.account-entries-container {
  margin-top: 20px;
  border: 1px solid grey;
}

.title-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-content > button {
  background-color: var(--color-brand);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.entries-table {  
  margin-top: 30px;
  width: 98vw;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .concept, .comment, .account {
  display: none;
} */

.table-header {
  background-color: var(--color-brand);
  color: white;
  font-size: 1rem; 
}

.table-header > th {
  padding: 5px 0;  
}

.tr-entries > td {
  padding: 0 5px;
}

.tr-entries:nth-child(even) {
  background-color: var(--color-bg);
}

.tr-entries:nth-child(odd) {
  background-color: white;
}

.tr-new-entry > td > input {
  width: 100%;
  padding: 5px;
}

@media(min-width: 700px) {
  .entries-table {
    font-size: 1.4rem;
    display: inline;
  }

  .title-content > button:hover {
    opacity: .7;
  }

}