.account-entries-container {
  margin-top: 20px;
  border: 1px solid grey;
}

.account-entries-container > h3 {
  text-align: center;
}

.title-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-content > button {
  background-color: var(--color-brand);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.error > p {
  color: red;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.entries-table {  
  margin-top: 30px;
  width: 98vw;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-collapse: collapse;
}

/* .concept, .comment, .account {
  display: none;
} */

.table-header {
  background-color: var(--color-brand);
  color: white;
  font-size: 1rem; 
}

.table-header > tr > th {
  padding: 5px 0;  
}

.tbody-entries > tr > td {
  padding: 2px 5px;
  text-align: center;
}

.tbody-entries > tr > .numbers {
  text-align: right;
}

.tbody-entries > tr > .concept {
  text-align: left;
}

.tbody-entries > tr > .comment {
  text-align: left;
}

.tbody-entries:nth-child(even) {
  background-color: var(--color-bg);
}

.tbody-entries:nth-child(odd) {
  background-color: white;
}

.tbody-new-entry > tr > td > input {
  width: 100%;
  padding: 5px;
}

@media(min-width: 700px) {
  .entries-table {
    font-size: 1.4rem;
    display: inline;
  }

  .title-content > button:hover {
    opacity: .7;
  }

  .error > p {
    font-size: 1.6rem;
  }

  .tbody-entries > tr > button {
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
  }

  .tbody-new-entry > tr > button {
    border: none;
    padding: 3px;
  }

  div input {
    color: black;
  }

}