.categories-container {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  max-width: 50vw;
}

.categories-container > label.error {
  color: red;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.categories-container > h2 {
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.categories-container > button {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
 }
.categories-container > .create-category > .create-category-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.categories-container > .create-category > .create-category-form > label {
  padding-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-brand);
  width: 100%;
} 

.categories-container > .create-category > .create-category-form input {
  padding: 7px;
  max-width: 500px;
}

.categories-container > .create-category > .create-category-form > fieldset {
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
}

button {
  background-color: var(--color-brand);
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.categories-container > .categories-content > ul {
  list-style: none;  
}

.categories-container > .categories-content > ul > Li {
  background-color: rgb(240, 236, 236);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.categories-container > .categories-content > ul > Li > a {
  text-decoration: none;
  color: var(--color-brand);
}

@media(min-width: 700px) {
  .categories-container > h2 {
    font-size: 2.4rem;
  }

  .categories-container > .categories-content > ul > Li > a:hover {
    transition: 0.5s ease-in-out;
    transform: scaleX(1.4);
    color: red;
  }

  button:hover {
    opacity: .7;
  }
}