@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&family=Noto+Sans+Mono:wght@300;400;500;600;700;800&display=swap');
:root {
  --font-title: 'Expletus Sans', cursive;
  --font-text: 'Noto Sans Mono', monospace;
  --color-brand: #22927c;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-height: 100vh; 
}

body {
  font-size: 1.6rem;
  font-family: var(--font-title);  
  overflow-x: hidden;
}


