#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main__title {
  font-size: 4rem;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-title);
  font-style: italic;
  font-weight: 600;
}



