
.title-form {
  text-align: center;
  padding: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form__textarea {
  box-shadow: 1px 3px 15px rgba(245, 245, 245, 0.35);
}

.form__button {
  padding: 7px;
  min-width: 70px;
}