@import url(./style.css);


.header-container {
  height: 70px;
}

.header-container h1 {
  padding: 5px 0;  
}

.header-container .navbar > ul >li {
  padding: 0 5px;
}

.header-container .navbar > ul >li > a {
  padding: 5px;
  margin: 5px 0;
  line-height: 20px;
}

main > header > h2 {
  text-align: center;
  padding: 30px 0;
  color: var(--color-yellow);   
} 

table {
  padding:10px;
  margin: 0 auto;
}

table tr th {
  color: var(--color-yellow);
  font-size: .6rem;
  padding: 7px;
}

table tr {
  min-width: 100px;
  max-width: 500px;
  text-align: center;
}

table tr > td {
  padding: 4px;
  color: var(--color-navy);
  font-size: .5rem;
}


/** RESPONSIVE */
@media(min-width: 570px) {
  .header-container {
    margin: 0;
    padding: 0;
  }

  .header-container h1 {
    padding: 15px 0;  
    font-size: .7rem;
  }

  table tr th {
    font-size: 1.2rem;
    padding: 30px;
  }

  table tr > td {
    padding: 10px;
    font-size: 1.2rem;
    text-shadow: 0 1px 3px var(--color-yellow);
  }
}