
.selected {
  content:url("/file-pdf-regular-white.svg");
}

.show-pdf {
  content:url("/file-pdf-regular.svg");
}

img:hover {
  cursor: pointer;
}

.show-pdf:hover {
  content:url("/file-pdf-regular-white.svg");
}

.add-pdf {
  content:url("/plus-solid.svg");
  border: 1px solid rgb(165,10,10);
  padding: 10px;
  border-radius: 50%;
  background-color: #303030;
}

.selected-add-pdf {
  content:url("/plus-solid-white.svg");
}

.add-pdf:hover {
  content:url("/plus-solid-white.svg");
  background-color: #404040;
}

.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pdfs__title {  
  text-align: center;
  padding-bottom: 30px;
}

.pdfs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  min-width: 85vw;
  width: 100%;
  border-bottom: 1px solid rgb(165,10,10);
}


.pdfs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.pdfs__item {
  list-style: none;
  width: 110px;
  background-color: white;
  padding-top: 10px;
  border-radius: 10px; 
  border: 1px solid red; 
}

.pdf__name {
  border-bottom: 1px solid rgb(165,10,10);
  color: rgb(10, 10, 10);
  font-size: 1.2rem;
}

.pdfs__buttons {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  background-color: #606060;
  border-radius: 0 0 10px 10px;
}

.pdf--update {
  padding: 5px;
  background-color: rgb(42, 188, 207);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.pdf--delete {
  padding: 5px;
  background-color: rgb(165,10,10);
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.pdfs__add-item {
  list-style: none;
  width: 110px;
  height: 120px;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.pdf--selected {
  padding-top: 20px;
  max-width: 100%;
}

.pdf__embed {
  min-width: 50vw;
  width: 100%;
  min-height: 70vh;
}

@media (min-width: 550px) {
  .pdfs__item {
    width: 150px;
  }

  .pdf__name {
    font-size: 1.4rem;
  }

  .pdf--update, .pdf--delete {
    font-size: 1.4rem;
  }

  .pdfs__add-item {
    width: 150px;
  }
   
}

@media (min-width: 880px) {
  .pdfs__item {
    width: 180px;
  }

  .pdf__name {
    font-size: 1.6rem;
  }

  .pdf--update, .pdf--delete {
    font-size: 1.6rem;
  }

  .pdfs__add-item {
    width: 180px;
  }
}