.modalBg {
  background-color: rgba(0, 0, 0, 40%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.modalContainer {
  width: 98vw;
  height: 60vh;
  background-color: white;
  color: green;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  place-content: center;
  position: relative;
}

.close {
  position: absolute;
  top:1px;
  right: 1px;
  color: var(--color-black-200);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 24px 5px grey;  
}

.error {
  color: var(--color-red-200);
}

@media(min-width: 576px) {
  .modalBg {
    background-color: rgba(0, 0, 0, 40%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .modalContainer {
    width: 60vw;
    height: 60vh;
    border-radius: 1rem;
    padding: 1rem;
  }
}

@media (min-width: 992px) {
   .close {
    cursor: pointer;
   }
}