#root > header {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 20%);
  background-color: white;
}

#root > header > * {
  flex: 1 0;
}

#root > header img {
  width: 3rem;
}

#root > header h1 {
  text-align: center;
}

#root > header ul {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
