/** ################################ **/
/** ## FIRST MOBILE - HEADER MENU ## **/
/** ################################ **/

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 72px;
  padding: 5px;
  background-color: var(--color-black);
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}


/*! ############################# !*/
/*! ## Menú de cabecera - LOGO ## !*/
/*! ############################# !*/
.menu-header .menu-header-figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.menu-header .menu-header-figure .menu-header-figureLogo {
  border-radius: 50%;
  width: 62px;
}


/*! ############################# !*/
/*! ## Menú de cabecera - NAME ## !*/
/*! ############################# !*/
.menu-header .menu-header-figure .menu-header-figureName {
  display: none;
}

/*! ############################### !*/
/*! ## Menú de cabecera - Navbar ## !*/
/*! ############################### !*/
.menu-header>.menu-header-navbarInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/*? #################################################### ?*/
/*? ## Menú de cabecera - Navbar - Authorization Name ## ?*/
/*? #################################################### ?*/
.menu-header>.menu-header-navbarInfo>.menu-header-navbarAuth {
  font-size: 1.2rem;
}

/*? ############################################## ?*/
/*? ## Menú de cabecera - Navbar - Login/Logout ## ?*/
/*? ############################################## ?*/
.menu-header>.menu-header-navbarInfo>.menu-header-navbarLogin {
  border: none;
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 7px;
  border-radius: 9999px;
  padding: 2px 12px;
}


@media(min-width: 700px) {
  /** ########################### **/
  /** ## DESKTOP - HEADER MENU ## **/
  /** ########################### **/

  .menu-header {
    width: 99vw;
    padding: 7px;
  }

  /*! ############################# !*/
  /*! ## Menú de cabecera - LOGO ## !*/
  /*! ############################# !*/

  .menu-header .menu-header-figure .menu-header-figureLogo {
    cursor: pointer;
  }


  /*! ############################# !*/
  /*! ## Menú de cabecera - NAME ## !*/
  /*! ############################# !*/
  .menu-header .menu-header-figure .menu-header-figureName {
    display: unset;
    font-size: 2.8rem;
  }

  .menu-header .menu-header-figure .menu-header-figureName span {
    color: var(--color-green);
  }

  .menu-header .menu-header-figure .menu-header-figureName:hover {
    color: var(--color-green);

    .g {
      color: var(--color-white);
    }

    cursor: pointer;
  }


  /*! ############################### !*/
  /*! ## Menú de cabecera - Navbar ## !*/
  /*! ############################### !*/

  /*? #################################################### ?*/
  /*? ## Menú de cabecera - Navbar - Authorization Name ## ?*/
  /*? #################################################### ?*/
  .menu-header>.menu-header-navbarInfo>.menu-header-navbarAuth {
    font-size: 1.6rem;
  }

  /*? ############################################## ?*/
  /*? ## Menú de cabecera - Navbar - Login/Logout ## ?*/
  /*? ############################################## ?*/
  .menu-header>.menu-header-navbarInfo>.menu-header-navbarLogin {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
  }

  .menu-header>.menu-header-navbarInfo>.menu-header-navbarLogin:hover {
    background-color: var(--color-white);
    color: var(--color-green);
    transition: .5s ease all;
  }
}