.recover-pwd {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recover-pwd__title {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-green);
}

.recover-pwd__form {
  padding: 0 20px;
}

.recover-pwd__form--email {
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(155, 155, 155);
  text-transform: uppercase;
  font-weight: 800;
}

.recover-pwd__form__label {
  color: rgb(155, 155, 155);
  font-size: 1.2rem;
  padding-top: 3px;
  padding-bottom: 1rem;
}
.recover-pwd__form__input {
  padding: 12px;
  border: 1px  solid rgb(155, 155, 155);
  border-radius: 4px;
  margin: 5px 5px 5px 0;
  width: 100%;
  max-width: 300px;  
}

.recover-pwd__form__button {
  border: none;
  background-color: var(--color-green);
  color: white;
  padding: 10px;
  width: 70%;
  max-width: 220px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 auto;
}