

.section--profile {
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__h2--profile {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
}


.section--content > .section-main__form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 550px;
  width: 100%;
}

.form.section-main__form .form__fieldset {
  border: none;
  width: 100vw;
}

.form.section-main__form .form__fieldset .h3 {  
  font-size: 1.6rem;
  border-bottom: 1px solid rgb(155, 155, 155);
  text-transform: uppercase;
  font-weight: 800;
}

.form.section-main__form .form__fieldset .label {
  color: rgb(155, 155, 155);
  font-size: 1.2rem;
  padding-top: 3px;
}


.form__fieldset .fieldset__input  {
  padding: 12px;
  border: 1px  solid rgb(155, 155, 155);
  border-radius: 4px;
  margin: 5px 5px 5px 0;
  width: 100%;
  max-width: 300px;
}

.section--content .form .button {
  border: none;
  background-color: var(--color-green);
  color: white;
  padding: 10px;
  width: 70%;
  max-width: 220px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.section--content .form .p--login {
  font-size: 1.4rem;
  max-width: 550px;
  width: 100%;
  text-align: center;
}

.section--content .form .p--login a {
  color: var(--color-green);
  font-weight: 800;
}

.section--content .form .p--login a::after {
  content: ' ▶️';
}


@media(min-width: 550px) {

  .form.section-main__form .form__fieldset .h3 {  
    font-size: 2rem;
  }
  .form.section-main__form .form__fieldset .label {
    font-size: 1.4rem;
  }

  .form.section-main__form .form__fieldset .fieldset__input  {
    font-size: 1.6rem;
  }

  .form.section-main__form .form__fieldset .surname {
    display: flex;
  }

  .section--content .form .button {
    margin-top: 20px;
    padding: 15px;
    max-width: 220px;
  }

  .section--content .form .p--login {
    font-size: 1.6rem;
  }
}

@media(min-width: 880px) {

  .form.section-main__form .form__fieldset .h3 {  
    font-size: 2rem;
  }

  .form.section-main__form .form__fieldset .fieldset__input.fieldset__input--last-name1, .form.section-main__form .form__fieldset .fieldset__input.fieldset__input--last-name2 {
    max-width: 430px;
  }

  .section-content > .form > .button:hover {
    opacity: .7;
  }

  .section-content > .form > .button {
    cursor: pointer;
    font-size: 1.8rem;
  }

  .section--content .form .p--login {
    padding-bottom: 90px;
  }
}