.new-pdf {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 900px;
}

.new-pdf__title {
  padding: 20px 0 10px 0;
  font-size: 1.6rem;
}

.new-pdf__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-pdf__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: none;
}

.new-pdf__label {
  text-align: left;
  border-bottom: 1px solid var(--color-secondary);
  width: 100%;
  text-transform: uppercase;
}

.new-pdf__file {
  padding: 7px 0 7px 0;
}

.new-pdf__button {
  margin-top: 20px;
  padding: 7px;
  min-width: 70px;
}
