
.contact {

}

.contact__title {
  text-align: center;
  padding: 20px 0;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact__label {
  border-bottom: 1px solid var(--color-red-200);
  text-align: left;
  max-width: 320px;
  width: 100%;
  padding-top: 10px;
}

.contact__input {
  padding: 8px;
  max-width: 320px;
  width: 100%;
  border-radius: 4px;
}

.contact__textarea {
  padding: 5px;
  box-shadow: 1px 3px 15px rgba(245, 245, 245, 0.35);
}

.contact__button {
  padding: 7px;
  min-width: 70px;
}
